# R files
.Rproj.user
.Rhistory
.RData
.Ruserdata
figures/desktop.ini
# OS files
.DS_Store
.DS_Store
scripts/.DS_Store
scripts/.DS_Store
scripts/.DS_Store
scripts/.DS_Store
scripts/.DS_Store
scripts/.DS_Store
scripts/.DS_Store
scripts/.DS_Store
scripts/Figures/.Rapp.history
scripts/.DS_Store
.httr-oauth
scripts/.DS_Store
supplementary_resources/World Map data/Continents/Thumbs.db
scripts/.DS_Store
supplementary_resources/World Map data/Continents/Thumbs.db
